*{
    font-family: 'poppins', sans-serif;
}
body{
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
header{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
}
::-webkit-input-placeholder{
    color: white;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.1);
}
.re-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left{
    display: flex;
}
label a{
    text-decoration: none;
    color: white;
}